/* BODY: */

body {
    height: 100vh;
    color: #e6eaf3;
    background-image: repeating-linear-gradient(#212e54, #0a132d, #01081b, #0a132d, #212e54);
}

.container {
    position: relative;
    /*    margin-top: 140px;*/
    padding: 0px;
    width: 1250px;
}

.main {
    position: absolute;
    top: 140px;
    padding: 0px;
    width: 1250px;
}

/* PLAYLISTS: */



.playlist {
    margin-bottom: 50px;
    float: left;
    width: 250px;
    opacity: 0.75;
    text-align: center;
    transition: transform .2s;
}

.playlist:hover {
    opacity: 1.0;
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.title {
    color: #ef0000;
    font-size: 28px;
    width: 100%;
    font-weight: 500;
    font-family: 'Fjalla One', sans-serif;
}

.playlist_image {
    position: relative;
    height: 200px;
}

img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.remove,
.pencil {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0px;
    visibility: hidden;

}

.p_buttons {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0px;
}

.remove {
    position: absolute;
    top: 10px;
    left: 133px;
    font-size: 13px;
}

.pencil {
    position: absolute;
    top: 10px;
    left: 92px;
    font-size: 11px;
}

.play {
    position: absolute;
    top: 85px;
    left: 110px;
    font-size: 14px;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    padding: 5px;
    visibility: hidden;
}


/*PLAYER: */

.audio {
    width: 101%;
    position: fixed;
    height: 360px;
    top: 80px;
    background-color:#050c1f;
/*    background-image: repeating-linear-gradient(#314273, #0a132d);*/
}

#play {
/*    padding-left: 110px;*/
/*    padding-right: 110px;*/
/*    position: fixed;*/
/*    width: 720px;*/
    height: 310px;
/*    left: 340px;*/
    top: 30px;
    font-family: 'Trade Winds', cursive;
}

.media_player {
    padding-left: 0px;
}

#close {
    color: black;
    right: 5px;
}

.del {
    position: absolute;
    top: 110px;
/*    right: 125px;*/
    font-size: 14px;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    padding: 5px;
}

.glyphicon-trash {
    top: 2px;
}

.edit {
    position: absolute;
    top: 160px;
/*    right: 125px;*/
    font-size: 14px;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    padding: 5px;
}

.pl_name {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: 'Trade Winds', cursive;
    color: #ef0000;
}

.main_play {
/*    width: 600px;*/
    padding-left: 5px;
    width: 540px;
    height: 295px;
    border-radius: 170px 170px 170px 170px;
    background-image: linear-gradient(#0a1829, #445586, #8fb0c3);
}

.pl_buttons{
    padding-right: 0px;
}

.image {
    padding: 7px;
    text-align: center;
}

#audioplayer{
    width: 270px;
}

#now_playing {
    margin-top: 10px;
    font-weight: bold;
/*    font-size: 17px;*/
    color: black;
}

#song_name {
    color: blue;
    margin-left: 7px;
    color: #ef0000;
    font-family: 'Trade Winds', cursive;
    font-size: 17px;
}

.list {
    overflow-x: hidden;
    overflow-y: auto;
    height: 105px;
/*    width: 270px;*/
    width: 230px;
    color: black;
    font-weight: bold;
}

.list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.list::-webkit-scrollbar {
    width: 5px;
}

.list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #d0d0d0;
}

ul {
    padding-left: 0px;
     !important
}

li .btn {
    padding: 0px;
}

#play_playlist {
    position: absolute;
    top: 100px;
/*    left: 105px;*/
    left: 95px;
    font-size: 14px;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    padding: 5px;
}

#player_img {
    animation: spin 2s linear infinite;
    border-radius: 50%;
    height: 210px;
    width: 210px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.song {
    opacity: 0.5;
}

.glyphicon-music {
    margin-left: 10px;
}

/*ADD/EDIT PLAYLIST MODALS:*/

.modal {
    top: 100px;
}

.add_edit_modal {
    height: 348px;
    width: 650px;
    font-family: 'Trade Winds', cursive;
}

.modal-header {
    background-color: lightsteelblue;
    text-align: center;
    color: #ef0000;
    background: #060606;
}

.modal-title {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Trade Winds', cursive;
}

.modal-header .close {
    margin-top: 8px;
    color: #ffffff;
}

.modal-body {
    background-image: linear-gradient(#0a1829, #445586, #8fb0c3);
}

.modal_form {
    margin-left: 0px;
}

.forms {
    height: 250px;
    font-family: 'Trade Winds', cursive;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: 100;
}

.add_edit_buttons {
    position: absolute;
    bottom: 5px;
    border-top: 1px solid #e5e5e5;
    height: 44px;
    padding-top: 10px;
}

.add_edit {
    width: 104px;
}

.reset {
    margin-left: 67px;
}

.modal_img {
    height: 245px;
    padding-left: 30px;
}

.add_edit_img {
    height: 245px;
    width: 245px;
}

.playlist_alert {
    padding: 7px;
    padding-right: 35px;
    font-size: 12px;
}
